

html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Calibri', sans-serif;

}
body {

}
.listedsongs {
   margin: 40px;
   border: 1px solid black;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: Gainsboro;
}
li,h2{
  margin: 5px;
}

.paragraphs {
margin: 40px;
display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 60px;
  margin-right: 60px;
  font-style: italic;
}
.paragraphs2 {
margin: 40px;
display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 60px;
  margin-right: 60px;
  text-align: right;
}
#album, img{
    width:100%;
    height: 100%;
}


h1 { font-family: "Playfair Display"; font-size: 49px; font-style: normal; font-variant: small-caps; font-weight: 400; line-height: 53.9px; } h3 { font-family: "Playfair Display"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Playfair Display"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Playfair Display"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Playfair Display"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
