:root {
   --color--background: #f2d7c8;
   --color--text: #222;
   --font: 'Avenir';
}

body {
   background: var(--color--background);
   color: var(--color--text);
   font-family: var(--font);
   text-align: center;
   margin: 40px;
   padding: 10px;
}

h1 {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 20px;
}

h2 {
   font-size: 16px;
   margin: 15px;
}
p {
   font-size: 12px;
}
#title {
   font-size: 22px;
}
#quote {
   font-style: italic;
}
li {
   list-style-type: decimal;
   margin: 3px;
   list-style-position: inside;
}

#songlist {
   padding-left: 15px;
}
#artists {
   padding-left: 20px;
}

img {
   float: left;
}
.listofsongs{
   text-align: left;
}
.reviews{
   clear: left;
}
